<div class="center-block jumbotron main_container">
  <h1>Welcome to Chef's Recipe App</h1>
  <h2>
    I am the Professional chef. I have worked ten years in this industry. So, let me guide you to make your kitchen lovely
  </h2>
  <%#= link_to "Sign Up", "", class: "btn btn-lg btn-primary" %>
</div>
<div class="row body_content">
  <div class="col-lg-4">
    <h3 class="midrow">View recipe as guest user</h3>
    <h2c class="left">Browse and visit recipe and signup later</h3>
    <p><%= link_to "Browse recipes", "", class: "btn btn-small btn-info" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">View recipe as guest user</h3>
    <h2c class="left">Browse and visit recipe and signup later</h3>
    <p><%= link_to "Browse recipes", "", class: "btn btn-small btn-info" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">View recipe as guest user</h3>
    <h2c class="left">Browse and visit recipe and signup later</h3>
    <p><%= link_to "Browse recipes", "", class: "btn btn-small btn-info" %></p>
  </div>
</div>