<header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "My Recepies","", class:"btn btn-md btn-success", id:"logo" %>
      <div class="nav_item">
        <%= link_to "LinkOne","", class:"btn btn-default btn-info" %>
      </div>
      <div class="nav_item">
        <%= link_to "LinkOne","", class:"btn btn-default btn-info" %>
      </div>
      <div class="nav_item">
        <%= link_to "LinkOne","", class:"btn btn-default btn-info" %>
      </div>
    </div>
  </header>